*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
  box-sizing: border-box;
}


header {
  background-color: #333;
}

header > ul {
  height: 2.5rem;
  overflow: hidden;
  display: flex;
  list-style-type: none;
  align-items: center;
  
}

header > ul > li:hover {
  background-color: #111;
}

header > ul > li {
  height: 100%;
}

header > ul > li > a {
  /* float: left; */
  color: whitesmoke;
  text-decoration: none;
  margin: 0 15px;
  font-size: 14px;
  font-weight: 500;
}

footer{
  width: 100%;
  padding: 2rem;
  height: 200px;
  object-fit: cover;
}